version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "CargoSense/dx-reviewers"
  - package-ecosystem: "mix"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "CargoSense/elixir-reviewers"
    labels:
      - "dependabot"
      
