name: CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

env:
  MIX_ENV: test

jobs:
  test_macos:
    name: Elixir ${{ matrix.pair.elixir }} OTP ${{ matrix.pair.otp }} (macOS)
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        pair:
          - elixir: "1.14"
            otp: "25.0"
          - elixir: "1.18"
            otp: "27.0"
    steps:
      - uses: actions/checkout@v6
      - name: Generate .tool-versions file
        run: |
          echo "elixir ${{ matrix.pair.elixir }}" >> .tool-versions
          echo "erlang ${{ matrix.pair.otp }}" >> .tool-versions
          cat .tool-versions
      - uses: asdf-vm/actions/install@v4
      - name: Install Hex package manager
        run: mix local.hex --force
      - name: Install dependencies
        run: mix deps.get
      - run: mix test
  test_ubuntu:
    name: Elixir ${{ matrix.pair.elixir }} OTP ${{ matrix.pair.otp }} (Ubuntu)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: "1.14"
              otp: "25.0"
          - pair:
              elixir: "1.18"
              otp: "27.0"
            lint: lint
    steps:
      - uses: actions/checkout@v6
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}
          version-type: strict
      - uses: actions/cache@v5
        with:
          path: deps
          key: mix-deps-${{ hashFiles('**/mix.lock') }}
      - run: mix deps.get --check-locked
      - run: mix format --check-formatted
        if: ${{ matrix.lint }}
      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}
      - run: mix deps.compile
      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}
      - run: mix test
        if: ${{ ! matrix.lint }}
      - run: mix test --warnings-as-errors
        if: ${{ matrix.lint }}
  test_alpine:
    name: Elixir ${{ matrix.group.elixir }} OTP ${{ matrix.group.otp }} (Alpine ${{ matrix.group.alpine }})
    runs-on: ubuntu-latest
    container: hexpm/elixir:${{ matrix.group.elixir }}-erlang-${{ matrix.group.otp }}-alpine-${{ matrix.group.alpine }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - group:
              alpine: "3.21.6"
              elixir: "1.14"
              otp: "25.0"
          - group:
              alpine: "3.23.3"
              elixir: "1.18"
              otp: "27.0"
    steps:
      - uses: actions/checkout@v6
      - name: Install Hex package manager
        run: mix local.hex --force
      - name: Install dependencies
        run: mix deps.get
      - run: mix test
  test_windows:
    name: Elixir ${{ matrix.pair.elixir }} OTP ${{ matrix.pair.otp }} (Windows)
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: "1.14"
              otp: "25.0"
          - pair:
              elixir: "1.18"
              otp: "27.0"
    steps:
      - uses: actions/checkout@v6
      # Using `@main` is currently required for windows-2025 support.
      - uses: erlef/setup-beam@main
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - run: mix test
