name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  MIX_ENV: test

jobs:
  test_macos:
    name: Elixir ${{ matrix.pair.elixir }} OTP ${{ matrix.pair.otp }} (macOS)
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        pair:
          - elixir: "1.13"
            otp: "24.3.4.10"
          - elixir: "1.17"
            otp: "27.0.1"
    steps:
      - uses: actions/checkout@v6
      - name: Generate .tool-versions file
        run: |
          echo "elixir ${{ matrix.pair.elixir }}" >> .tool-versions
          echo "erlang ${{ matrix.pair.otp }}" >> .tool-versions
          cat .tool-versions
      - uses: asdf-vm/actions/install@v4
      - name: Install Hex package manager
        run: mix local.hex --force
      - name: Install dependencies
        run: mix deps.get
      - run: mix test
  test_ubuntu:
    name: Elixir ${{ matrix.pair.elixir }} OTP ${{ matrix.pair.otp }} (Ubuntu)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: "1.13"
              otp: "24.3.4.10"
          - pair:
              elixir: "1.17"
              otp: "27.0.1"
            lint: lint
    steps:
      - uses: actions/checkout@v6
      - uses: erlef/setup-beam@main
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}
          version-type: strict
      - uses: actions/cache@v5
        with:
          path: deps
          key: mix-deps-${{ hashFiles('**/mix.lock') }}
      - run: mix deps.get --check-locked
      - run: mix format --check-formatted
        if: ${{ matrix.lint }}
      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}
      - run: mix deps.compile
      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}
      - run: mix test
        if: ${{ ! matrix.lint }}
      - run: mix test --warnings-as-errors
        if: ${{ matrix.lint }}
